body {
  font-family: Palatino;
}

ul {
  display: flex;
  flex-flow: row wrap;
}

li {
  display: flex;
  flex-flow: column;
  width: 40%;
  max-width: 300px;
  background-color: rgb(243, 243, 243);
  border: rgb(214, 214, 214) 2px solid;
  border-radius: 150px;
  margin: 5px;
  padding: 0 0 0 10px;
  color: blue;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.list-element {
  color: brown;
  display: flex;
  flex-flow: row;
}
